/*全体共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
body{
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 17px;
	width: 960px;
	margin-left:auto;
  margin-right:auto;
	background-color: rgba(188, 242, 252,0.4);
	/* background-size: cover;
	background-attachment: fixed; */
}

/* パディングをサイズ内側にする処理 */
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/



/* CSSアニメーションの指定 */
.title{
  animation: SlideIn 2.5s;
}

/* CSSアニメーションの設定 */

@keyframes SlideIn {
  0% {
    opacity: 0;/*初期状態では透明に*/
    transform: translateX(64px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.title {
	margin-left: 160px;
	font-family: 'YuMincho';
	margin-top: 139px;
	margin-bottom: 26px;
}

.title a {
	font-size: 100px;
	line-height: 1.5px;
}

.title h3 {
	margin-left: 193px;
	font-style: oblique;
	padding-top: 20px;
}

.title h2 {
	margin-left: 210px;
	font-style: oblique;
}

.User_name {
	width:600px;
	text-align: end;
	margin: auto;
}

.logOut_btn {
	width:600px;
	text-align: end;
	margin: auto;
}

#map_canvas {
  width:600px;
  height:400px;
	margin: 0 auto;
	border: solid 14px;
	border-color: rgba(0, 26, 255,0.3);
	border-radius: 20px;
}

.input_wrapper {
	margin-top: 20px;
	width:600px;
	margin: 20px auto 0 auto;
}

textarea {
	border-radius: 6px;
}


.send_btn {
	padding: 3px 7px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.input_message {
	padding: 3px 7px;
}

.input_name {
	height: 24px;
	padding: 5px 3px;
}

.output_container {
	display: flex;
	margin: 30px auto 0 auto;
	width:600px;
}

.output_btn_left {
	margin-right: 20px;
	padding: 3px 7px;
	border-radius: 10px;
}

.output_btn_right {
	padding: 3px 7px;
	border-radius: 10px;
}








.output_wrapper {
	border-bottom: solid 0.1px;
	border-color: rgba(0, 60, 255, 0.2);
	margin: 30px auto 0 auto;
	width:600px;
	list-style: none;
	height: 100px;
}

.p_tag {
	font-size: 24px;
	color: rgb(212, 124, 124);
}

.p_tag_1 {
	font-size: 14px;
	line-height: 15px;
}

.p_tag_2 {
	font-size: 14px;
	line-height: 15px;
	margin-bottom: 20px;
}

.introduction {
	width:600px;
	margin: 0 auto;

}

.introduction a {
	font-size: 12px;
}

.introduction p {
	font-size: 12px;
}

.caution {
	margin-left:20px;
}
