/*全体 共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
body{
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 17px;
	width: 800px;
	margin-left:auto;
  margin-right:auto;
	/* background-image: url(../img/20170524103809.jpeg); */
	background-size: cover;
	background-attachment:fixed;
	background-color:rgba(255,255,255,0.6);
	background-blend-mode:lighten;
	font-family: 'Hiragino Mincho Pro';
}

.background {
	background: rgba(191, 238, 241, 0.541);
	margin: 10px 0;
	padding: 40px 100px;
	border-radius: 90px;
}


/* パディングをサイズ内側にする処理　*/
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/
.input_container {
	padding-left: 20px;
}

.error_message {
	color: red;
	font-size: 16px;
}

h2 {
	margin-top: 20px;
	margin-bottom: 40px;
}
h3 {
	margin-top: 10px;
}

input {
	  padding: 5px 5px;
    width: 475px;
		border: solid 0.2px;
		border-radius: 6px;
		width: 100%;
		font-size: 20px;
}

.btn {
	text-align: center;
	justify-content: center;
	margin-top: 60px;
}

.topPage_btn {
	margin-top: 30px;
}

.signUp_btn {
	border: solid 0.2px;
	border-radius: 13px;
	width: 20%;
	background-color: rgb(146, 241, 186);	
	cursor: pointer;
}

.signUp_btn:hover{
color: red;
}

.else_btn {
	margin-top: 130px;
	display: flex;
	justify-content: flex-end;
}


.else_btn div {
	margin: 0 20px;
}

